<main class="l-centered-page c-post-list">
  <h1>Writing</h1>

  <% @grouped_posts.each do |group, posts| %>
    <h2><%= group %></h2>
    <ul>
      <% posts.each do |post| %>
        <li>
          <a href="<%= url("/blog/posts/#{post.published_year}/#{post.slug}", false) %>" aria-label="Link to <%= post.title %>">
            <%= post.title %>
          </a>
          <span>published on <%= post.published_on.strftime("%b %d, %Y") %></span>
        </li>
      <% end %>
    </ul>
  <% end %>
</main>
